# Remove language from .gitignore as exercises are done for it
c/**/*.o
c/**/*.out
c/**/*.out.dSYM
clojure/
coffeescript/
cpp/**/build
csharp/
ecmascript/
elisp/
elixir/erl_crash.dump
elm/**/elm-stuff
elm/**/node_modules
erlang/**/_build
erlang/erl_crash.dump
fsharp/
go/
haskell/
java/**/build
java/**/.gradle
javascript/**/node_modules
lfe/
lisp/
lua/
objective-c/
ocaml/
perl5/
php/
plsql/
python/**/__pycache__
python/**/.pytest_cache
python/**/.mypy_cache
rust/**/target
scala/
scheme/
swift/
typescript/**/node_modules
**/.exercism/
